<section class="login-block">
    <div class="container signLog">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form form" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="userName" class="text-uppercase">Username</label>
                        <input formControlName="userName" type="text" class="form-control" placeholder="Username" required autofocus>
                        <div *ngIf="userName.touched && userName.errors"
                             class="errorMessage">
                          <span *ngIf="userName.hasError('required')">Username is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-uppercase">Password</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="Password" required autofocus>
                        <div *ngIf="password.touched && password.errors"
                             class="errorMessage">
                          <span *ngIf="password.hasError('required')">Password is required.</span>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-warning btn btn-login btn-block" value="Submit" [disabled]="insertForm.invalid" />
                </form>
                <div class="register-text">Dont Have An Accont ? <i class="fa fa-user-plus"></i> <a href="#"> Sign Up</a></div>
            </div> 
        </div>
    </div> 
</section>
