<section class="register-block">
    <div class="container signLog">
      <div class="row">
        <div class="col-md-4 register-sec">
          <h2 class="text-center">Register</h2>
          <form class="login-form" method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="userName" class="text-uppercase">Username</label>
              <input id="userName" formControlName="userName" type="text" class="form-control" placeholder="Username" required autofocus>
              <div *ngIf="userName.touched && userName.errors" class="errorMessage">
                  <span *ngIf="userName.hasError('required')">UserName is required.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="text-uppercase">Password</label>
              <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password" required>
              <div *ngIf="password.touched && password.errors" class="errorMessage">
                  <span *ngIf="password.hasError('required')">Password is required.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="cpassword" class="text-uppercase">Confirm Password</label>
              <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>
              <div *ngIf="confirmPassword.touched && confirmPassword.errors" class="errorMessage">
                  <span *ngIf="confirmPassword.hasError('required')">Confirm Password is required.</span>
                  <span *ngIf="confirmPassword.hasError('mustMatch')">Password Must Match.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="text-uppercase">Email</label>
              <input id="email" formControlName="email" type="text" class="form-control" placeholder="Email">
              <div *ngIf="email.touched && email.errors" class="errorMessage">
                  <span *ngIf="email.hasError('required')">Email is required.</span>
                  <span *ngIf="email.hasError('email')">Please provide valid email.</span>
              </div>
            </div>
  
            <div class="form-group">
              <input id="register" type="submit" [disabled]="insertForm.invalid" class="btn btn-warning btn btn-login btn-block" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">JWT_Auth Registration</h4>
          <button type="button" class="close pull-right" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      
  </ng-template>
  
  